[submodule "RouteNetLKClientApplication"]
	path = RouteNetLKClientApplication
	url = ./RouteNetLKClientApplication
[submodule "RouteNetLKServerApllication"]
	path = RouteNetLKServerApllication
	url = ./RouteNetLKServerApllication
